@import "variables";

.news-slick-container, .crew-slick-container {
	padding: 0 65px;
}

// FUNCTION

#functions {
	margin-top: 180px;

	.function-container {
		padding: 15px;
		position: relative;
		color: $base-color;

		.function-icon {
			position: absolute;
			left: calc(50% - 80px);
			top: -80px;
			width: 160px;
			height: 160px;
			border-radius: 50%;
			background-color: $primary-color;
		}

		.function-heading {
			font-family: $base-font-bold, $secondary-font, sans-serif;
			font-size: 24px;
			margin-top: 120px;
		}

		.function-description {
			font-family: $secondary-font, sans-serif;
			font-size: 14px;
			line-height: 24px;
			min-height: 100px;
			padding: 15px 0;
		}
	}
}

@media screen and (max-width: 992px) {
	#functions {
		.function-container {
			.function-description {
				min-height: 150px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#functions {
		.function-container {
			margin: 5em 15px 2em 15px;

			.function-description {
				min-height: unset !important;
			}
		}
	}
}

// NEWS

#news {
	margin-bottom: 110px;

	.news-container {
		padding: 0 15px;
	}

	.news-date {
		color: $primary-color;
		font-family: $base-font-bold, $secondary-font, sans-serif;
		font-size: 10px;
		letter-spacing: 2px;
		padding-bottom: 15px;
		text-transform: uppercase;
	}

	.news-heading {
		font-family: $base-font-bold, $secondary-font, sans-serif;
		font-size: 20px;
		line-height: 28px;
		padding: 15px 0;
		border-bottom: 1px solid $primary-color;
		border-top: 1px solid $primary-color;
	}

	.news-description {
		font-family: $secondary-font, sans-serif;
		font-size: 12px;
		line-height: 24px;
		padding: 15px 0;
		min-height: 150px;
	}
}

// CREW

#crew {
	.crew-slick-container {
		.slick-list {
			padding-top: 30px !important;
		}
	}

	.crew-container {
		position: relative;
		color: $base-color;
		padding: 0 15px;

		.crew-heading {
			font-family: $base-font-bold, $secondary-font, sans-serif;
			font-size: 16px;
			margin-top: 30px;
		}

		.crew-description {
			font-family: $secondary-font, sans-serif;
			font-size: 12px;
			line-height: 20px;
			margin-top: 20px;
			margin-bottom: 30px;
		}
	}
}

// GALLERY

#gallery {
	padding-bottom: 110px;

	.slick-center .gallery-img-container {
		transform: scale(2);
	}

	.gallery-slick-container {
		margin-top: 3em;
		padding: 30px 0;

		.slick-list {
			padding-top: 100px !important;
			padding-bottom: 100px !important;
		}
	}

	.gallery-img-container {
		background-color: $accent-color;
		padding: 15px;
		margin: 0 15px;
		min-height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: transform 1s;

		img {
			max-height: 150px;

		}
	}
}

@media screen and (max-width: 768px) {
	#gallery {
		.slick-center .gallery-img-container {
			transform: none;
		}

		.gallery-slick-container {
			.slick-list {
				padding-top: 0 !important;
				padding-bottom: 0 !important;
			}
		}
	}
}

// CONTACT

#contact {
	label {
		font-family: $base-font-bold, $secondary-font, sans-serif;
		font-size: 12px;
		margin-top: 5px;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active,
	textarea:-webkit-autofill,
	textarea:-webkit-autofill:hover,
	textarea:-webkit-autofill:focus,
	textarea:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px $tertiary-color inset !important;
		-webkit-text-fill-color: $contrast-color !important;
	}

	input {
		height: 40px;
		padding: 8px;
		background-color: $tertiary-color;
		border-radius: 20px;
		width: 100%;
		max-width: 350px;
		border: none;

		&:focus {
			outline: none;
		}
	}

	textarea {
		min-height: 130px;
		padding: 8px;
		background-color: $tertiary-color;
		border-radius: 20px;
		width: 100%;
		max-width: 350px;
		border: none;
		resize: none;

		&:focus {
			outline: none;
		}
	}

	.contact-submit-btn {
		max-width: 250px;
	}

	.contact-heading {
		color: $primary-color;
		font-family: $base-font-bold, $secondary-font, sans-serif;
		font-size: 10px;
		letter-spacing: 2px;
		text-align: center;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	.contact-text {
		text-align: center;
		font-size: 16px;
		font-family: $base-font-bold, $secondary-font, sans-serif;
		line-height: 24px;
	}

	a {
		text-decoration: none;
		color: $contrast-color;

		&:hover {
			text-decoration: none;
			color: $contrast-color;
		}
	}

	hr {
		border-top: 1px solid $primary-color;
		width: 60%;
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

// MAP

#map {
	margin-bottom: 45px;
	margin-top: 45px;
	min-height: 400px;
}

