.news-slick-container, .crew-slick-container {
  padding: 0 65px; }

@media screen and (max-width: 768px) {
  .mobile-arrow-down {
    transform: rotate(90deg);
    display: block !important;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; }
    .mobile-arrow-down span {
      color: #F5B698;
      font-size: 30px; } }
#functions {
  margin-top: 180px; }
  #functions .function-container {
    padding: 15px;
    position: relative;
    color: #FFFFFF; }
    #functions .function-container:hover .function-icon {
      transform: scale(1.2); }
    #functions .function-container:hover .function-icon img {
      animation: swing ease-in-out 3s infinite; }
    #functions .function-container .function-icon {
      position: absolute;
      left: calc(50% - 80px);
      top: -80px;
      width: 160px;
      height: 160px;
      border-radius: 50%;
      background-color: #F5B698;
      transition: transform 1s; }
    #functions .function-container .function-heading {
      font-family: "Effra-Bold", "Open Sans", sans-serif;
      font-size: 24px;
      margin-top: 120px; }
    #functions .function-container .function-description {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px;
      min-height: 100px;
      padding: 15px 15px; }

@media screen and (max-width: 1200px) {
  #functions .function-container .function-description {
    min-height: 150px; } }
@media screen and (max-width: 768px) {
  #functions .function-container {
    margin: 5em 15px 2em 15px; }
    #functions .function-container .function-description {
      min-height: unset !important; } }
#news {
  margin-bottom: 110px; }
  #news .news-container {
    padding: 0 30px; }
  #news .news-date {
    color: #F5B698;
    font-family: "Effra-Bold", "Open Sans", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    padding-bottom: 15px;
    text-transform: uppercase; }
  #news .news-heading {
    font-family: "Effra-Bold", "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 28px;
    padding: 15px 0;
    border-bottom: 1px solid #F5B698;
    border-top: 1px solid #F5B698; }
  #news .news-description {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 24px;
    padding: 15px 0;
    min-height: 150px; }

#crew .crew-slick-container .slick-list {
  padding-top: 30px !important; }
#crew .crew-container {
  position: relative;
  color: #FFFFFF;
  padding: 0 30px; }
  #crew .crew-container .crew-heading {
    font-family: "Effra-Bold", "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 30px; }
  #crew .crew-container .crew-description {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 30px; }

@media screen and (max-width: 576px) {
  #crew .crew-container {
    padding: 0; } }
#gallery {
  padding-bottom: 110px; }
  #gallery .slick-center .gallery-img-container {
    transform: scale(2); }
  #gallery .gallery-slick-container {
    margin-top: 3em;
    padding: 30px 0; }
    #gallery .gallery-slick-container .slick-list {
      padding-top: 100px !important;
      padding-bottom: 100px !important; }
  #gallery .gallery-img-container {
    padding: 15px;
    margin: 0 15px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s; }
    #gallery .gallery-img-container img {
      max-height: 150px; }

@media screen and (max-width: 768px) {
  #gallery .slick-center .gallery-img-container {
    transform: none; }
  #gallery .gallery-slick-container .slick-list {
    padding-top: 0 !important;
    padding-bottom: 0 !important; } }
#contact label {
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  font-size: 12px;
  margin-top: 5px; }
#contact input:-webkit-autofill,
#contact input:-webkit-autofill:hover,
#contact input:-webkit-autofill:focus,
#contact input:-webkit-autofill:active,
#contact textarea:-webkit-autofill,
#contact textarea:-webkit-autofill:hover,
#contact textarea:-webkit-autofill:focus,
#contact textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #FDEFE8 inset !important;
  -webkit-text-fill-color: #414142 !important; }
#contact input {
  height: 40px;
  padding: 8px;
  background-color: #FDEFE8;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  border: none; }
  #contact input:focus {
    outline: none; }
#contact textarea {
  min-height: 130px;
  padding: 8px;
  background-color: #FDEFE8;
  border-radius: 20px;
  width: 100%;
  max-width: 350px;
  border: none;
  resize: none; }
  #contact textarea:focus {
    outline: none; }
#contact .contact-submit-btn {
  max-width: 250px; }
#contact .contact-heading {
  color: #F5B698;
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 5px; }
#contact .contact-text {
  text-align: center;
  font-size: 16px;
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  line-height: 24px; }
#contact a {
  text-decoration: none;
  color: #414142; }
  #contact a:hover {
    text-decoration: none;
    color: #414142; }
#contact hr {
  border-top: 1px solid #F5B698;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px; }

#map {
  margin-bottom: 45px;
  margin-top: 45px;
  min-height: 400px; }

/*# sourceMappingURL=main.css.map */
