@font-face {
  font-family: 'Effra-Bold';
  src: url("../fonts/effra/Effra_Std_Bd.ttf") format("truetype"); }
@font-face {
  font-family: 'Effra';
  src: url("../fonts/effra/Effra_Std_Md.ttf") format("truetype"); }
@font-face {
  font-family: 'Effra-Light';
  src: url("../fonts/effra/Effra_Std_Lt.ttf") format("truetype"); }
@keyframes swing {
  0% {
    transform: rotate(3deg); }
  25% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-3deg); }
  75% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(3deg); } }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Effra", "Open Sans", sans-serif;
  background-color: #FFFFFF;
  color: #414142; }

section h1 {
  font-size: 25px;
  text-align: center;
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  position: relative;
  margin-top: 125px;
  margin-bottom: 75px; }
  section h1::after {
    position: absolute;
    content: url("../img/heading-border.png");
    top: -70px;
    left: calc(50% - 57.5px); }

.app-bg-primary {
  background-color: #F5B698 !important; }

.app-bg-secondary {
  background-color: #F0CACB !important; }

.app-bg-tertiary {
  background-color: #FDEFE8 !important; }

.app-bg-accent {
  background-color: #2363AE !important; }

.app-bg-accent-second {
  background-color: #4f82be !important; }

.app-text-primary {
  color: #F5B698 !important; }

.app-text-secondary {
  color: #F0CACB !important; }

.app-text-accent {
  color: #2363AE !important; }

.app-text-accent-second {
  color: #4f82be !important; }

.app-text-base {
  color: #FFFFFF !important; }

.app-btn-accent {
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  background-color: #2363AE !important;
  color: #FFFFFF !important;
  font-size: 18px;
  width: 100%;
  max-width: 250px;
  height: 45px;
  border-radius: 30px;
  padding: 10px 0;
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
  cursor: pointer;
  transition: background-color 1s; }
  .app-btn-accent:hover {
    text-decoration: none;
    background-color: #F5B698 !important; }

.app-slider-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  transition: transform 1s; }
  .app-slider-btn:focus {
    outline: none; }
  .app-slider-btn:hover {
    transform: scale(1.2); }

.app-back-link {
  letter-spacing: 2px;
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  font-size: 10px;
  color: #2363AE; }

header .app-nav-trigger {
  display: none; }
header .app-nav {
  position: fixed;
  min-height: 100vh;
  width: 320px;
  right: -320px;
  transition: right 0.5s ease-in-out;
  background-color: #2363AE;
  z-index: 1000; }
header .app-nav-menu-content a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.5s;
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  margin-top: 20px;
  text-align: center; }
  header .app-nav-menu-content a:hover {
    color: #F5B698; }
header .app-nav-trigger-label {
  display: block;
  position: fixed;
  right: 30px;
  top: 30px;
  user-select: none;
  cursor: pointer;
  font-size: 2.5rem;
  z-index: 2000; }
header .app-nav-trigger:checked ~ .app-nav {
  right: 0; }
header .app-nav-icon {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  header .app-nav-icon:hover span {
    background: #F5B698; }
  header .app-nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #2363AE;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  header .app-nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  header .app-nav-icon span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
  header .app-nav-icon span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center; }
header .app-nav-trigger:checked ~ .app-nav-trigger-label .app-nav-icon span {
  background: #F5B698 !important; }
header .app-nav-trigger:checked ~ .app-nav-trigger-label .app-nav-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px; }
header .app-nav-trigger:checked ~ .app-nav-trigger-label .app-nav-icon span:nth-child(2) {
  width: 0%;
  opacity: 0; }
header .app-nav-trigger:checked ~ .app-nav-trigger-label .app-nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px; }

footer h1 {
  color: #F5B698;
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  footer h1 a {
    text-decoration: none;
    color: #F5B698; }
    footer h1 a:hover {
      text-decoration: none;
      color: #2363AE; }
footer .partners-item {
  min-height: 30px;
  padding: 8px;
  background-color: #F5B698;
  border-radius: 5px;
  margin: 15px 0; }
footer .link-container {
  margin-top: 30px;
  margin-bottom: 30px; }
  footer .link-container a {
    transition: transform 1s; }
  footer .link-container a:hover {
    transform: scale(1.2); }
  footer .link-container a:hover img {
    animation: swing ease-in-out 3s infinite; }

/*# sourceMappingURL=style.css.map */
