$primary-color: #F5B698;
$primary-blur-color: rgba(245,182,152,0.7);
$secondary-color: #F0CACB;
$accent-color: #2363AE;
$base-color: #FFFFFF;

$base-font: 'Effra';
$base-font-bold: 'Effra-Bold';
$base-font-light: 'Effra-Light';
$secondary-font: 'Arial';

@font-face {
	font-family: 'Effra-Bold';
	src: url('../fonts/effra/Effra_Std_Bd.ttf') format('truetype');
}

@font-face {
	font-family: 'Effra';
	src: url('../fonts/effra/Effra_Std_Md.ttf') format('truetype');
}

@font-face {
	font-family: 'Effra-Light';
	src: url('../fonts/effra/Effra_Std_Lt.ttf') format('truetype');
}


body {
	font-family: $base-font, $secondary-font, sans-serif;
	background-color: $base-color;
}

section {
	margin-top: 7em;
}

.app-bg-primary {
	background-color: $primary-color !important;
}

.app-bg-secodary {
	background-color: $secondary-color !important;
}

.app-text-primary {
	color: $primary-color !important;
}

.app-text-secodary {
	color: $secondary-color !important;
}

.app-btn-accent {
	font-family: $base-font-bold, $secondary-font, sans-serif;
	background-color: $accent-color !important;
	color: $base-color !important;
	font-size: 0.6em;
	padding: 10px 40px;
	border-radius: 20px;
}

// HEADER

header {
	nav {
		font-family: $base-font-bold, $secondary-font, sans-serif;

		button.app-toggler {
			border-color: transparent !important;
			transition: color 1s, transform 1s;

			&:hover {
				color: $base-color;
				transform: rotate(360deg);

				.app-toggler-icon {
					background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
				}
			}

			&:focus {
				outline: none;
			}

			.app-toggler-icon {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(35,99,174)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
			}
		}

		div.app-navbar-list {
			background-color: $primary-blur-color;

			a {
				color: $accent-color;
				transition: color 0.5s;

				&:hover {
					color: $base-color;
				}
			}
		}
	}

	.app-hero {
		min-height: 100vh;
		background-color: $primary-color;
	}
}

// FUNCTION

#functions {
	.function-container {
		position: relative;
		color: $base-color;

		.function-icon {
			position: absolute;
			left: calc(50% - 50px);
			top: -50px;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: $primary-color;

			.fa-music {
				font-size: 3em;
			}
		}

		.function-heading {
			font-family: $base-font-bold, $secondary-font, sans-serif;
			margin-top: 5em;
		}

		.function-description {
			font-size: 0.6em;
		}
	}
}

@media screen and (max-width: 576px) {
	#functions {
		.function-container {
			margin: 2.5em 15px;
		}
	}
}



