header .subpage-header {
  height: 60px;
  position: relative;
  padding: 15px; }
  header .subpage-header .subpage-header-image {
    position: absolute;
    height: 85px;
    width: 85px;
    border-radius: 50%;
    background-color: #F0CACB;
    bottom: -42.5px;
    left: calc(50% - 42.5px);
    display: flex;
    justify-content: center;
    align-items: center; }
header h1.subpage-heading {
  font-family: "Effra-Bold", "Open Sans", sans-serif;
  font-size: 24px;
  text-align: center;
  margin-top: 60px; }
header p.subpage-description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 45px;
  color: #414142; }

#prices {
  margin-top: 45px; }
  #prices .prices-container {
    padding: 15px 30px;
    text-align: center; }
    #prices .prices-container hr {
      border-top: 1px solid #FFFFFF;
      width: 80%;
      margin-top: 25px;
      margin-bottom: 25px; }
    #prices .prices-container .price-heading {
      font-family: "Effra-Bold", "Open Sans", sans-serif;
      font-size: 18px;
      margin-top: 30px;
      margin-bottom: 30px; }
    #prices .prices-container .price-title {
      font-family: "Effra-Bold", "Open Sans", sans-serif;
      font-size: 14px;
      line-height: 24px; }
    #prices .prices-container .price-subtitle {
      font-family: "Effra-Bold", "Open Sans", sans-serif;
      font-size: 12px;
      line-height: 24px; }
    #prices .prices-container .price-amount {
      color: #F5B698;
      font-family: "Effra-Bold", "Open Sans", sans-serif;
      font-size: 16px; }
    #prices .prices-container .price-amount-small {
      color: #F5B698;
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      font-weight: 800; }
    #prices .prices-container .prices-text {
      font-family: "Open Sans", sans-serif;
      font-size: 12px;
      line-height: 20px; }
    #prices .prices-container .prices-text-mh--play {
      min-height: 80px; }
    #prices .prices-container .prices-text-mh {
      min-height: 160px; }
  #prices .prices-text-row {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px; }
    #prices .prices-text-row a {
      color: #2363AE;
      font-family: "Effra-Bold", #FFFFFF, sans-serif;
      text-decoration: underline; }

@media screen and (max-width: 1200px) {
  #prices .prices-container .prices-text-mh {
    min-height: 200px; } }
@media screen and (max-width: 992px) {
  #prices .prices-container .prices-heading-mh--play {
    min-height: 42px; }
  #prices .prices-container .prices-text-mh--play {
    min-height: 100px; }
  #prices .prices-container .prices-text-mh {
    min-height: 320px; } }
@media screen and (max-width: 768px) {
  #prices .prices-container .prices-heading-mh--play {
    min-height: unset; }
  #prices .prices-container .prices-text-mh--play {
    min-height: unset; }
  #prices .prices-container .prices-text-mh {
    min-height: unset; } }
#plan .plan-nav {
  width: 100%; }
  #plan .plan-nav li a {
    text-align: center; }
#plan .plan-container {
  min-height: 300px; }
#plan .nav-item:nth-child(even) a.nav-link {
  background-color: #F3D6C8; }
#plan .nav-item:nth-child(odd) a.nav-link {
  background-color: #F4CCBA; }
#plan .nav-item .nav-link {
  color: #FFFFFF;
  line-height: 20px;
  padding: 15px 0; }
  #plan .nav-item .nav-link.active {
    background-color: #F5B698 !important;
    text-decoration: underline;
    color: #FFFFFF; }
  #plan .nav-item .nav-link.active:after {
    content: '';
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    background-color: #F5B698;
    position: absolute; }
#plan .table {
  margin-top: 20px;
  font-family: "Effra", "Open Sans", sans-serif;
  background-color: #F5B698; }
  #plan .table th, #plan .table td {
    border: none;
    color: #2363AE;
    text-align: center;
    padding: 15px 0; }
    #plan .table th a, #plan .table td a {
      color: #2363AE; }
  #plan .table th {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px; }
  #plan .table tr:nth-child(odd) {
    background-color: #FDEFE8; }
  #plan .table tr:nth-child(even) {
    background-color: #F3D6C8; }
  #plan .table thead tr {
    background-color: transparent !important; }
  #plan .table tbody td:first-child, #plan .table tbody td:last-child {
    font-weight: 800; }
  #plan .table thead th:first-child {
    width: 180px; }
  #plan .table thead th:last-child {
    width: 150px; }

#panel h2 {
  font-family: "Effra", "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center; }
#panel form h3 {
  font-family: "Effra", "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center; }
#panel hr {
  border-top: 1px solid #FFFFFF; }
#panel .nav-link {
  color: #414142; }
#panel .table td {
  vertical-align: middle; }

#timetable #calendar.fc td, #timetable #calendar.fc th {
  border: none;
  color: #2363AE; }
#timetable #calendar.fc th {
  padding-top: 15px;
  padding-bottom: 15px; }
#timetable #calendar.fc tbody tr {
  background-color: #F3D6C8; }
#timetable #calendar.fc tbody tr:nth-child(4n + 1), #timetable #calendar.fc tbody tr:nth-child(4n + 2) {
  background-color: #FDEFE8; }
#timetable #calendar {
  background-color: #F5B698;
  position: relative; }
  #timetable #calendar .fc-today {
    background-color: transparent; }
  #timetable #calendar .fc-right {
    position: absolute;
    bottom: -50px;
    left: calc(50% - 80px);
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #timetable #calendar .fc-right .fc-prev-button, #timetable #calendar .fc-right .fc-next-button {
      background-color: transparent;
      border: none;
      transition: transform 1s; }
      #timetable #calendar .fc-right .fc-prev-button:focus, #timetable #calendar .fc-right .fc-next-button:focus {
        box-shadow: none; }
      #timetable #calendar .fc-right .fc-prev-button:hover, #timetable #calendar .fc-right .fc-next-button:hover {
        transform: scale(1.2); }
      #timetable #calendar .fc-right .fc-prev-button span, #timetable #calendar .fc-right .fc-next-button span {
        color: #F5B698; }
    #timetable #calendar .fc-right .fc-today-button {
      text-decoration: underline;
      text-transform: uppercase;
      color: #2363AE;
      background-color: transparent;
      border: none; }
  #timetable #calendar table {
    font-family: "Effra", "Open Sans", sans-serif;
    border-color: transparent; }
    #timetable #calendar table thead {
      border-color: transparent; }
      #timetable #calendar table thead th {
        color: #2363AE;
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 2px; }
      #timetable #calendar table thead th:nth-child(2n) {
        background-color: #F4CCBA; }
#timetable .plan-nav {
  width: 100%; }
  #timetable .plan-nav li a {
    text-align: center; }
#timetable .plan-container {
  min-height: 300px; }
#timetable #room-form input {
  display: none; }
#timetable #room-form label {
  cursor: pointer;
  padding: 15px 30px;
  color: #FFFFFF;
  line-height: 20px; }
#timetable #room-form .form-check-inline {
  margin: 0; }
  #timetable #room-form .form-check-inline:nth-child(even) label {
    background-color: #F3D6C8; }
  #timetable #room-form .form-check-inline:nth-child(odd) label {
    background-color: #F4CCBA; }
#timetable #room-form input:checked ~ label {
  background-color: #F5B698 !important;
  text-decoration: underline;
  color: #FFFFFF; }
#timetable #room-form input:checked ~ label:after {
  content: '';
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  background-color: #F5B698;
  position: absolute; }

@media screen and (max-width: 576px) {
  #timetable #room-form {
    width: 100%;
    flex-wrap: nowrap; }
    #timetable #room-form label {
      padding: 15px 15px; } }

/*# sourceMappingURL=subpages.css.map */
