@import "variables";

// SUBPAGE HEADER

header {
	.subpage-header {
		height: 60px;
		position: relative;
		padding: 15px;

		.subpage-header-image {
			position: absolute;
			height: 85px;
			width: 85px;
			border-radius: 50%;
			background-color: $secondary-color;
			bottom: -42.5px;
			left: calc(50% - 42.5px);
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	h1.subpage-heading {
		font-family: $base-font-bold, $secondary-font, sans-serif;
		font-size: 24px;
		text-align: center;
		margin-top: 60px;
	}

	p.subpage-description {
		font-family: $secondary-font, sans-serif;
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		margin-top: 45px;
		color: $contrast-color;
	}
}

// PRICES

#prices {
	margin-top: 45px;

	.prices-container {
		padding: 15px 30px;
		text-align: center;

		hr {
			border-top: 1px solid $base-color;
			width: 80%;
			margin-top: 25px;
			margin-bottom: 25px;
		}

		.price-heading {
			font-family: $base-font-bold, $secondary-font, sans-serif;
			font-size: 18px;
			margin-top: 30px;
			margin-bottom: 30px;
		}



		.price-title{
			font-family: $base-font-bold, $secondary-font, sans-serif;
			font-size: 14px;
			line-height: 24px;
		}

		.price-subtitle {
			font-family: $base-font-bold, $secondary-font, sans-serif;
			font-size: 12px;
			line-height: 24px;
		}

		.price-amount {
			color: $primary-color;
			font-family: $base-font-bold, $secondary-font, sans-serif;
			font-size: 16px;
		}

		.price-amount-small {
			color: $primary-color;
			font-family: $secondary-font, sans-serif;
			font-size: 12px;
			font-weight: 800;
		}

		.prices-text {
			font-family: $secondary-font, sans-serif;
			font-size: 12px;
			line-height: 20px;
		}

		.prices-text-mh--play {
			min-height: 80px;
		}

		.prices-text-mh {
			min-height: 180px;
		}
	}

	.prices-text-row {
		font-family: $secondary-font, sans-serif;
		font-size: 14px;
		line-height: 24px;

		a {
			color: $accent-color;
			font-family: $base-font-bold, $base-color, sans-serif;
			text-decoration: underline;
		}
	}
}

@media screen and (max-width: 1200px) {
	#prices {
		.prices-container {
			.prices-text-mh {
				min-height: 220px;
			}
		}

	}
}

@media screen and (max-width: 992px) {
	#prices {
		.prices-container {
			.prices-heading-mh--play {
				min-height: 42px;
			}

			.prices-text-mh--play {
				min-height: 100px;
			}

			.prices-text-mh {
				min-height: 340px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	#prices {
		.prices-container {
			.prices-heading-mh--play {
				min-height: unset;
			}

			.prices-text-mh--play {
				min-height: unset;
			}

			.prices-text-mh {
				min-height: unset;
			}
		}
	}
}

// PLAN

#plan {
	.plan-nav {
		width: 100%;
		li {
			a {
				text-align: center;
			}

		}
	}

	.plan-container {
		min-height: 300px;
	}

	.nav-item {
		&:nth-child(even) a.nav-link {
			background-color: $secondary-color-muted;
		}

		&:nth-child(odd) a.nav-link {
			background-color: $primary-color-muted;
		}

		.nav-link {
			color: $base-color;
			line-height: 20px;
			padding: 15px 0;

			&.active {
				background-color: $primary-color !important;
				text-decoration: underline;

				color: $base-color;
			}

			&.active:after {
				content: '';
				width: 100%;
				height: 10px;
				top: -10px;
				left: 0;
				background-color: $primary-color;
				position: absolute;
			}
		}
	}

	.table {
		margin-top: 20px;
		font-family: $base-font, $secondary-font, sans-serif;
		background-color: $primary-color;

		th,td {
			border: none;
			color: $accent-color;
			text-align: center;
			padding: 15px 0;

			a {
				color: $accent-color;
			}
		}

		th {
			text-transform: uppercase;
			font-size: 10px;
			letter-spacing: 2px;
		}

		tr:nth-child(odd) {
			background-color: $tertiary-color;
		}

		tr:nth-child(even) {
			background-color: $secondary-color-muted;
		}

		thead tr {
			background-color: transparent !important;
		}

		tbody td:first-child, tbody td:last-child {
			font-weight: 800;
		}

		thead th:first-child {
			width: 180px;
		}

		thead th:last-child {
			width: 150px;
		}
	}
}

// ADMIN PANEL

#panel {
	h2 {
		font-family: $base-font, $secondary-font, sans-serif;
		font-size: 20px;
		text-align: center;
	}

	form {
		h3 {
			font-family: $base-font, $secondary-font, sans-serif;
			font-size: 16px;
			text-align: center;
		}
	}

	hr {
		border-top: 1px solid $base-color;
	}

	.nav-link {
		color: $contrast-color
	}

	.table {
		td {
			vertical-align: middle;
		}
	}
}

// TIMETABLE

#timetable {
	#calendar.fc {
		td, th {
			border: none;
			color: $accent-color;
		}

		th {
			padding-top: 15px;
			padding-bottom: 15px;
		}

		tbody {
			tr  {
				background-color: $secondary-color-muted;
			}

			tr:nth-child(4n + 1), tr:nth-child(4n + 2) {
				background-color: $tertiary-color;
			}
		}
	}

	#calendar {
		background-color: $primary-color;
		position: relative;

		.fc-today {
			background-color: transparent;
		}

		.fc-right {
			position: absolute;
			bottom: -50px;
			left: calc(50% - 80px);

			display: flex;
			flex-direction: row;
			justify-content: center;

			.fc-prev-button, .fc-next-button {
				background-color: transparent;
				border: none;
				transition: transform 1s;

				&:focus {
					box-shadow: none;
				}

				&:hover {
					transform: scale(1.2);
				}
				
				span {
					color: $primary-color;
				}
			}

			.fc-today-button {
				text-decoration: underline;
				text-transform: uppercase;
				color: $accent-color;
				background-color: transparent;
				border: none;
			}
		}


		table {
			font-family: $base-font, $secondary-font, sans-serif;
			border-color: transparent;

			thead {
				border-color: transparent;

				th {
					color: $accent-color;
					text-transform: uppercase;
					font-size: 10px;
					letter-spacing: 2px;
				}

				th:nth-child(2n) {
					background-color: $primary-color-muted;
				}
			}
		}
	}

	.plan-nav {
		width: 100%;
		li {
			a {
				text-align: center;
			}

		}
	}

	.plan-container {
		min-height: 300px;
	}

	#room-form {
		input {
			display: none;
		}

		label {
			cursor: pointer;
			padding: 15px 30px;
			color: $base-color;
			line-height: 20px;
		}

		.form-check-inline {
			margin: 0;

			&:nth-child(even) label {
				background-color: $secondary-color-muted;
			}

			&:nth-child(odd) label {
				background-color: $primary-color-muted;
			}
		}

	    input:checked ~ label {
			background-color: $primary-color !important;
			text-decoration: underline;

			color: $base-color;
		}

		input:checked ~ label:after {
				content: '';
				width: 100%;
				height: 10px;
				top: -10px;
				left: 0;
				background-color: $primary-color;
				position: absolute;
		}
	}
}

@media screen and (max-width: 576px) {
	#timetable {

		#room-form {
			width: 100%;
			flex-wrap: nowrap;
			label {
				padding: 15px 15px;
			}
		}
	}
}