$primary-color: #F5B698;
$primary-color-muted: #F4CCBA;
$secondary-color: #F0CACB;
$secondary-color-muted: #F3D6C8;
$tertiary-color: #FDEFE8;
$accent-color: #2363AE;
$accent-color-second: #4f82be;
$base-color: #FFFFFF;
$contrast-color: #414142;

$base-font: 'Effra';
$base-font-bold: 'Effra-Bold';
$base-font-light: 'Effra-Light';
$secondary-font: 'Open Sans';